@import "../sass/main.scss";
.main{
  font-family: Share Tech Mono,sans-serif;
  background-color: #472987;
  @include full_wh;
}

  .App-logo {
    animation:   infinite 3s linear;
    //box-shadow: 8px 8px cyan;

  }

@keyframes App-logo-spin {

  from {
    transform-origin: center;
    transform: rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: rotate(360deg);

  }
}

.container{
  margin-top: 0;
  background: #472987;
}

.border{
  border-style: dashed;
  border-color: magenta;
}
.row {

  background-image: linear-gradient(to right,#472987,blue);
  box-shadow:  0 1vh  1vh cyan;
}