.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.longhand { 
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
}

.flex-item {
  /* background: tomato; */
  /* padding-top: 30vh; */
  /* width:60%; */
  /* height: 100px; */
  /* margin: 20vh; */
  /* line-height: 100px; */
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}