.template {
  /*background: white;*/
  box-shadow: 1vh 1vh #472987;
  width: auto;
  border-radius: 30px;
}


.img_of_project {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 30vh;
  background: white;
}

.links {
  border-radius: 0 0 30px 30px;
  display: flex;
  padding-top: 1.5vh;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: auto;
  /* max-width: 50vw; */
  background: #8e42ff;
}

.template:hover {
  box-shadow: 8px 8px 9px #61dafb;
}

.btn-class {
  font-family: Orbitron, sans-serif;
  border-radius: 30px;
  box-shadow: 0 1vh 1vh #ff00ff;
  font-size: 1rem;
  /* margin-bottom: 10px; */
  width: 6vw;
  height: 6vh;

  /* transform: translateY(1vh); */
}

.btn-class:active {
  transform: translateY(1vh);
  box-shadow: 0 0.5vh gray;
}

.btn-class:focus {
  outline: none;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

h1 {
  padding-left: 0.5em;
}

.shorthand {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.longhand {
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
}


.flex-item {
  padding: 5px;
  width: 45vw;
  height: 45vh;
  margin: 10px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.tech{
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.h1{
  font-size: 0.5rem;
}
@media screen and (max-width : 700px){
  .flex-container{
    justify-content: center;
  }
  .flex-item{
  width: 75vw;
  /* padding-left: 10vh; */
  }
  .font_change{
    font-size: 3vh;
  }
  h2{
    font-weight: 1px;
  }
  .btn-class{
    width: 10vh;
  }
}
.text-on-botton{
  position: absolute;
}